/* Projects.css */
.projects-container {
  padding: 80px 50px;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
}
  
.projects-header {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
  color: #00ff9d;
  text-shadow: 0 0 10px rgba(0, 255, 157, 0.7);
  letter-spacing: 2px;
  font-weight: 700;
}
  
  .projects-description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    color: #ccc;
  }
    
  .projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    justify-content: center;
  }

  .view-all-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .view-all-button {
    background-color: #00ff9d;
    color: #111;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  
  .view-all-button:hover {
    background-color: #00cc7d;
    transform: scale(1.05);
  }
  
  .toggle-projects-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .toggle-projects-button {
    background-color: #00ff9d;
    color: #111;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  
  .toggle-projects-button:hover {
    background-color: #00cc7d;
    transform: scale(1.05);
  }