/* src/components/Navbar.css */

.ant-layout-header {
    background: #001529;
    padding: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  
  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .ant-menu {
    line-height: 64px;
    justify-content: flex-end;
  }
  
  .ant-menu-item {
    font-size: 16px;
  }
  
  .ant-menu-item .anticon {
    font-size: 18px;
    margin-right: 8px;
  }
  
  @media (max-width: 768px) {
    .ant-menu-item {
      padding: 0 10px !important;
    }
    
    .ant-menu-item .anticon {
      margin-right: 0;
    }
    
    .ant-menu-item-only-child {
      padding: 0 10px !important;
    }
  }